.status-bar{
    display:  flex;
    justify-content: space-between;
    padding: 5px 3px;
}
.status-bar_colum:first-child span{
    margin-right: 5px;    
}
.status-bar_colum:nth-child(2) span{
    font-weight: bold;
}